<?xml version="1.0" encoding="utf-8"?>
<module loadFromBin="false" description="Integrate and Support EPiServer Commerce for EPiServer Google Analytics." tags=" EPiServerModulePackage EPiServerAddOn EPiServer GoogleAnalytics Commerce " productName="EPiServer GoogleAnalytics - Commerce Support" version="1.6.0.7518">
  <assemblies>
    <add assembly="EPiServer.GoogleAnalytics.Commerce" />
  </assemblies>
</module>